#heading {
    padding-top: 0px;
    padding-bottom: 30px;
}

#projects {
    margin-top: 0px;
}

#projectdesc {
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

#projectheader {
    padding-bottom: -5px;
}

#projecttag {
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
}

#projectpreview {
    max-height:500px;
    overflow: hidden;
}

#headercontacts {
    padding-top: 20px;
    margin-bottom: -10px;
    width: 100%;
}
a {
    color: grey;
}

a:hover {
    color: black;
}
