#heading {
    padding-top: 0px;
    padding-bottom: 30px;
}

#projectdesc {
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

#projectheader {
    padding-bottom: -5px;
}

#projecttag {
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
}

#projectpreview {
    max-height:500px;
    margin-bottom: -5px;
    overflow: hidden;
    display: none;
    background-color: white;
}

#headercontacts {
    padding-top: 20px;
    margin-bottom: -10px;
    width: 100%;
}

a {
    color: grey;
}
a:hover {
    color: black;
}

#tempexpand {
    height: 100px;
    visibility: hidden;
}
