body {
    background-color: white;
}

#logo {
    color: #555;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 60px;
    padding: 0px;
}

#msg {
    color: #555;
    padding: 0px;
    font-size: 25px;
}

#msg u {
    color: #555;
}
#msg u:hover {
    color: black;
    font-size: 30px;
}
